{
    "ecmaFeatures": {
        "modules": true
    },
    "env": {
        "browser": false,
        "node": true,
        "es6": true
    },
    "plugins": [
        "no-console-log"
    ],
    "rules": {
        "arrow-parens": [
            2
        ],
        "arrow-spacing": [
            1,
            {
                "after": true,
                "before": true
            }
        ],
        "brace-style": [
            1,
            "1tbs",
            {
                "allowSingleLine": false
            }
        ],
        "camelcase": [
            2,
            {
                "properties": "never"
            }
        ],
        "comma-dangle": [
            1,
            "always-multiline"
        ],
        "comma-spacing": [
            1,
            {
                "after": true,
                "before": false
            }
        ],
        "dot-notation": [
            1
        ],
        "eol-last": [
            1
        ],
        "eqeqeq": [
            2
        ],
        "indent": [
            2,
            4
        ],
        "key-spacing": [
            1
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "max-len": [
            1,
            100
        ],
        "new-parens": [
            2
        ],
        "newline-after-var": [
            1,
            "always"
        ],
        "no-alert": [
            1
        ],
        "no-caller": [
            2
        ],
        "no-console-log/no-console-log": [
            1
        ],
        "no-const-assign": [
            2
        ],
        "no-debugger": [
            1
        ],
        "no-dupe-keys": [
            2
        ],
        "no-duplicate-case": [
            2
        ],
        "no-empty": [
            2
        ],
        "no-empty-label": [
            2
        ],
        "no-extra-bind": [
            1
        ],
        "no-extra-parens": [
            1
        ],
        "no-func-assign": [
            2
        ],
        "no-label-var": [
            2
        ],
        "no-multiple-empty-lines": [
            1
        ],
        "no-self-compare": [
            1
        ],
        "no-shadow": [
            2
        ],
        "no-shadow-restricted-names": [
            2
        ],
        "no-spaced-func": [
            1
        ],
        "no-trailing-spaces": [
            1
        ],
        "no-undef": [
            2
        ],
        "no-unexpected-multiline": [
            2
        ],
        "no-unused-vars": [
            1
        ],
        "no-var": [
            1
        ],
        "no-warning-comments": [
            1
        ],
        "object-shorthand": [
            2,
            "never"
        ],
        "padded-blocks": [
            1,
            "never"
        ],
        "prefer-arrow-callback": [
            1
        ],
        "prefer-spread": [
            1
        ],
        "prefer-template": [
            1
        ],
        "quotes": [
            1,
            "single",
            "avoid-escape"
        ],
        "semi": [
            2,
            "always"
        ],
        "semi-spacing": [
            1,
            {
                "after": true,
                "before": false
            }
        ],
        "space-after-keywords": [
            1,
            "always"
        ],
        "space-before-blocks": [
            1,
            "always"
        ],
        "valid-jsdoc": [
            2
        ],
        "valid-typeof": [
            2
        ]
    }
}
